/* Header */

header > nav {
    height: 50px;
    width: 100%;
    z-index: 1;
    top: 0px;
    background-color: #ff6900;
    line-height: 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px black;
}

.logo {
    height: 30px;
    margin-top: 6px;
    align-items: center;
}

.header-list {
    list-style: none;
}

.header-item {
    margin: 10px;
}


/* MAIN */

.row {
    padding: 80px 0 30px;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
}

.col {
    width: 30%;
}

/* Col img */

.wishlist {
    top: 1rem;
    right: 0;
    color: black;
    font-size: 30px;
    background-color: #ffffff;
    /* padding: 5px 15px; */
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.additional-info {
    left: 0;
    bottom: 2rem;
}

.tag {
    color: #ffffff;
    display: inline-block;
    padding: 3px 10px;
    background-color: black;
    font-size: 10px;
}

.discount {
    background-color: #ff0000;
}

.sustainability {
    background-color: green;
}

/* Col img hover */

.col-img > .img-hover {
    display: none;
}

.col-img:hover > .img-front {
    display: none;
}

.col-img:hover > .img-hover {
    display: inline-block;
}

.wishlist:hover {
    color: #ff1f1f;
}

/* Col text */

.brand {
    color: #1c150c
}

.red {
    color: #ff1f1f;
}

.in {
    text-decoration: line-through;
    color: #1c150c;
}


/* FOOTER */

footer > nav {
    height: 70px;
    background-color: #1a1a1a;
    padding: 20px;
    justify-content: space-between;
    color: #ffffff;
}

.social-icons {
    font-size: 20px;
}

footer > nav * {
    padding: 5px;
}